/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.footer h4 {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px rgb(191, 191, 191);
}
.header a {
  color: #000;
}
.header i {
  position: absolute;
  font-size: 20px;
  top: 30%;
  left: 5%;
}

.logo {
  padding: 20px 0;
  text-align: center;
}

.logo img {
  height: 30px;
}

.restaurant-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.menu {
  padding: 20px 20px;
}
.menu .menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 150px;
  padding-bottom: 30px;
}
.menu .menu-header h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
.menu .menu-header i {
  font-size: 1.3rem;
}

.footer {
  background-color: #303030;
  padding: 25px 0 25px 18px;
}
.footer h4 {
  margin-bottom: 20px;
  margin-left: 10px;
}
.footer a {
  display: block;
  padding: 10px;
}
.footer a i {
  margin-right: 10px;
}
.footer a:hover {
  color: #99e2d0;
}

.footer, .footer a {
  color: #fff;
}

@media screen and (min-width: 992px) {
  .footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}
button {
  padding: 15px;
  border-radius: 50px;
  border: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(to top, #9356dc, #ff79da);
  box-shadow: 0 2px 7px grey;
}

button:hover {
  box-shadow: 0 7px 7px grey;
  filter: brightness(115%);
}

.entrance, .dish, .dessert {
  opacity: 0;
  animation: card-animation 1.5s linear forwards;
}
.entrance h2, .dish h2, .dessert h2 {
  font-weight: 200;
  margin-top: 20px;
}
.entrance span, .dish span, .dessert span {
  display: block;
  height: 2px;
  width: 30px;
  background-color: #99e2d0;
  margin: 5px 0 20px 0;
}

.entrance {
  animation-delay: 0.3s;
}

.dish {
  animation-delay: 0.7s;
}

.dessert {
  animation-delay: 1s;
}

.card {
  display: flex;
  justify-content: space-between;
  color: #000;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0 3px 5px rgb(191, 191, 191);
}
.card:hover > .box {
  width: 70px;
}
.card:hover > .box > i {
  opacity: 1;
  animation: check-animation 1s;
}
.card .card-description {
  width: 90%;
  height: 100%;
  padding: 10px;
}
.card h3 {
  font-weight: 500;
  margin-bottom: 5px;
}
.card .price {
  display: flex;
  justify-content: space-between;
}
* .card .price p:nth-child(1) {
  font-size: 0.9rem;
  font-weight: 200;
}
.card .price p:nth-child(2) {
  margin-right: 15px;
}
.card .box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 0px;
  border-radius: 0 15px 15px 0;
  background-color: #99e2d0;
  transition: width 1s;
}
.card .box i {
  transition: opacity 1s;
  color: #fff;
  opacity: 0;
}

.menu footer {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu footer button {
  width: 200px;
}

@keyframes card-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes check-animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 992px) {
  .restaurant-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;
  }
  .card {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .card .card-description {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 20px 0;
  }
  .card h3 {
    font-size: 1.2rem;
  }
  .card .price {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px 0;
  }
  .card .price p:nth-child(1) {
    font-size: 1rem;
    font-weight: 200;
  }
  .card .price p:nth-child(2) {
    margin-right: 0;
    font-size: 1rem;
  }
  .card .box {
    height: 0;
    width: 100%;
    border-radius: 0 0 15px 15px;
    transition: height 1s;
  }
  .card:hover > .box {
    height: 70px;
    width: 100%;
  }
}
.container {
  position: relative;
}

.loader {
  position: absolute;
  top: calc(20% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border: 3px solid grey;
  border-bottom: 3px solid #99e2d0;
  border-radius: 50%;
  animation: loading-animation 3s linear 1;
  animation-fill-mode: forwards;
}

.presentation .location {
  position: relative;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  background-color: rgb(234, 234, 234);
  z-index: -1;
}

.presentation .description {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 15px 0;
  padding: 45px 0 60px 0;
  background-color: rgb(245, 245, 245);
}

.presentation .description h1 {
  text-align: center;
  width: 250px;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2;
}

.presentation .description p {
  text-align: center;
  width: 300px;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: 300;
}

.functioning {
  padding: 50px 20px;
}

.functioning h2 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.functioning .list {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 25px 0;
}
.functioning .list li {
  width: 100%;
  text-align: center;
}
.functioning .list a {
  position: relative;
  display: block;
  border-radius: 20px;
  color: #000;
  font-weight: 500;
  padding: 20px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 2px 10px rgb(191, 191, 191);
}
.functioning .list a span {
  position: absolute;
  left: -1.5%;
  top: 25%;
  background-color: #9356dc;
  border-radius: 50%;
  width: 10px;
  padding: 5px;
  color: #fff;
  font-size: 0.8rem;
}
.functioning .list a i {
  margin-right: 50px;
  color: grey;
}
.functioning .list a:hover {
  background-color: #f2eafb;
}
.functioning .list a:hover > i {
  color: #9356dc;
}

.restaurant {
  padding: 20px;
}
.restaurant h1 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.card-box {
  display: flex;
  flex-flow: column;
  gap: 20px 0;
}
.card-box .restaurant-card {
  border-radius: 15px;
  box-shadow: 0 2px 10px rgb(191, 191, 191);
}

.restaurant-card {
  color: #000;
}
.restaurant-card img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant-card .card-content {
  position: relative;
  padding: 15px;
}
.restaurant-card .card-content h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
.restaurant-card .card-content i {
  position: absolute;
  right: 5%;
  top: 40%;
  font-size: 1.4rem;
}
.restaurant-card .card-content i:hover + .full-heart {
  height: 1.4rem;
}
.restaurant-card .card-content .full-heart {
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  height: 0;
  transition: height 2s;
  z-index: -1;
}
.restaurant-card .new {
  position: relative;
}
.restaurant-card .new .tag {
  position: absolute;
  font-size: 0.9rem;
  font-weight: 500;
  top: 5%;
  right: 2%;
  background-color: #99e2d0;
  color: #1b6150;
  padding: 7px;
}

@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .functioning .list {
    flex-flow: row;
    gap: 0 25px;
  }
  .restaurant .card-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
  }
}/*# sourceMappingURL=style.css.map */