.entrance, .dish, .dessert{
    & h2 {
        font-weight: 200;
        margin-top: 20px;
    }

    & span {
        display: block;
        height: 2px;
        width: 30px;
        background-color: $tertiary-color;
        margin: 5px 0 20px 0;
    }
}

.card {
    display: flex;
    justify-content: space-between;
    color: #000;
    // padding: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 0 3px 5px rgb(191, 191, 191);
    animation: card-animation 1s linear;

    &:hover > .box{
        animation: box-animation 1s;
    }

    & .card-description {
        width: 90%;
        height: 100%;
        padding: 10px;
    }

    & h3 {
        font-weight: 500;
        margin-bottom: 5px;
    }

    & .price {
        display: flex;
        justify-content: space-between;*
        & p:nth-child(1) {
            font-size: 0.9rem;
            font-weight: 200;
        }

        & p:nth-child(2) {
            margin-right: 15px;
        }
    }

    & .box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 0px;
        border-radius: 0 15px 15px 0;
        background-color: $tertiary-color;

        & i {
            color: #fff;
        }
    }
    
}

.menu footer {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    & button {
        width: 200px;
    }
}

@keyframes card-animation {
    0% {opacity: 0;}

    100% {opacity: 1;}
}

@keyframes box-animation {
    0% {width: 0px;}
    100% {width: 70px;}
}