.entrance, .dish, .dessert{
    opacity: 0;
    animation: card-animation 1.5s linear forwards;
    & h2 {
        font-weight: 200;
        margin-top: 20px;
    }

    & span {
        display: block;
        height: 2px;
        width: 30px;
        background-color: $tertiary-color;
        margin: 5px 0 20px 0;
    }
}

.entrance {
    animation-delay: 0.3s;
}

.dish {
    animation-delay: 0.7s;
}
.dessert {
    animation-delay: 1s;
}

.card {
    display: flex;
    justify-content: space-between;
    color: #000;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 0 3px 5px rgb(191, 191, 191);

    &:hover > .box{
        width: 70px;
    }

    &:hover > .box > i {
        opacity: 1;
        animation: check-animation 1s;
    }

    & .card-description {
        width: 90%;
        height: 100%;
        padding: 10px;
    }

    & h3 {
        font-weight: 500;
        margin-bottom: 5px;
    }

    & .price {
        display: flex;
        justify-content: space-between;*
        & p:nth-child(1) {
            font-size: 0.9rem;
            font-weight: 200;
        }

        & p:nth-child(2) {
            margin-right: 15px;
        }
    }

    & .box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 0px;
        border-radius: 0 15px 15px 0;
        background-color: $tertiary-color;
        transition: width 1s;

        & i {
            transition: opacity 1s;
            color: #fff;
            opacity: 0;
        }
    }
    
}

.menu footer {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    & button {
        width: 200px;
    }
}

@keyframes card-animation {
    0% {opacity: 0;}

    100% {opacity: 1;}
}

@keyframes check-animation {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}

@media screen and (min-width: 992px) {
    .restaurant-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 20px
    }

    .card {
        flex-flow: column;
        justify-content: center;
        align-items: center;

        & .card-description {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            gap: 20px 0;
        }

        & h3 {
            font-size: 1.2rem;
        }

        & .price {
            flex-flow: column;
            justify-content: center;
            align-items: center;
            gap: 20px 0;

            & p:nth-child(1) {
                font-size: 1rem;
                font-weight: 200;
            }
    
            & p:nth-child(2) {
                margin-right: 0;
                font-size: 1rem;
            }
        }

        & .box {
            height: 0;
            width: 100%;
            border-radius: 0 0 15px 15px;
            transition: height 1s;
        }

        &:hover > .box{
            height: 70px;
            width: 100%;
        }
    }

}