// Section Presentation
.presentation .location {
    position: relative;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    background-color: rgb(234, 234, 234);
    z-index: -1;
}

.presentation .description {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 15px 0;
    padding: 45px 0 60px 0;
    background-color: rgb(245, 245, 245);
}

.presentation .description h1 {
    text-align: center;
    width: 250px;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.2;
}

.presentation .description p {
    text-align: center;
    width: 300px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: 300;
}

// Section Functioning
.functioning {
    padding: 50px 20px;
}

.functioning h2{
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.functioning .list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 25px 0;

    li {
        width: 100%;
        text-align: center;
    }

    a {
        position: relative;
        display: block;
        border-radius: 20px;
        color: #000;
        font-weight: 500;
        padding: 20px;
        background-color: rgb(245, 245, 245);
        box-shadow: 0 2px 10px rgb(191, 191, 191);
    }
    
    a span {
        position: absolute;
        left: -1.5%;
        top : 25%;
        background-color: $primary-color;
        border-radius: 50%;
        width: 10px;
        padding: 5px;
        color: #fff;
        font-size: 0.8rem;
    }
    
    a i {
        margin-right: 50px;
        color: grey;
    }

    a:hover {
        background-color: lighten($primary-color, 35%);
    }

    a:hover > i {
        color: $primary-color;
    }
}

// Main
.restaurant {
    padding: 20px;

    & h1 {
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

.card-box {
    display: flex;
    flex-flow: column;
    gap: 20px 0;

    & .restaurant-card {
        border-radius: 15px;
        box-shadow: 0 2px 10px rgb(191, 191, 191);
    }
}

.restaurant-card {
    color : #000;

    & img {
        width: 100%;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }

    & .card-content {
        position: relative;
        padding: 15px;
        
        & h3 {
            font-weight: 600;
            margin-bottom: 10px;
        }

        & i {
            position: absolute;
            right: 5%;
            top: 40%;
            font-size: 1.4rem;
        }

    }

    & .new {
        position: relative;

        & .tag {
            position: absolute;
            font-size: 0.9rem;
            font-weight: 500;
            top: 5%;
            right: 2%;
            background-color: $tertiary-color;
            color: darken($tertiary-color, 50%);
            padding: 7px;
        }
    }
    
}



